@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #9C9C9C;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  color: #eee;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 25px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  display: none;
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.9375rem 1.53125rem;
  background-color: #3D96F4;
  color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  letter-spacing: 0.1428571429em;
  border-radius: 3.125rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button_color {
  background-color: rgba(129, 129, 139, 0.2);
}

.title {
  font-weight: 500;
  line-height: 1.1730769231;
  color: #FFFFFF;
}

.text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5;
}

.link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.category {
  font-size: 0.625rem;
  display: inline-block;
  border: 0.0625rem solid rgba(129, 129, 139, 0.2);
  border-radius: 0.75rem;
  padding: 0.6875rem 1.1875rem;
  text-transform: uppercase;
  -webkit-transition: border 0.3s ease 0s, color 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s, color 0.3s ease 0s;
  transition: border 0.3s ease 0s, color 0.3s ease 0s;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
}

.header._header-scroll {
  background-color: rgba(9, 96, 31, 0.6);
}

.header__container {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
}

._header-scroll .header__container {
  min-height: 4.375rem;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.header__button {
  -webkit-transition: padding 0.3s ease 0s;
  -o-transition: padding 0.3s ease 0s;
  transition: padding 0.3s ease 0s;
}

._header-scroll .header__button {
  padding: 0.625rem 1.5rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}

.menu__link {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625;
  color: #FFFFFF;
}

.cart-header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.cart-header__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.875rem;
  height: 1.875rem;
  background-color: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
}

.icon-menu {
  display: none;
}

.footer__top {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -ms-grid-columns: 21.625rem 7.8125rem 13rem 23.5rem;
  grid-template-columns: 21.625rem 7.8125rem 13rem 23.5rem;
}

.footer__logo {
  display: inline-block;
}

.footer__logo:not(:last-child) {
  margin-bottom: 2rem;
}

.footer__text:not(:last-child) {
  margin-bottom: 2.0625rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__label {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.0625rem;
  color: #fff;
}

.footer__label:not(:last-child) {
  margin-bottom: 1.875rem;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer__input {
  height: 3.375rem;
  border: 0.0625rem solid rgba(129, 129, 139, 0.3);
  border-radius: 3.125rem;
  background-color: transparent;
}

.footer__bottom {
  border-top: 0.0625rem solid rgba(129, 129, 139, 0.2);
  text-align: center;
}

.social-footer__item img {
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  border-radius: 50%;
}

.menu-footer__list {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.main-block__container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.main-block__content {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-block__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-1.9375rem, -1rem);
      -ms-transform: translate(-1.9375rem, -1rem);
          transform: translate(-1.9375rem, -1rem);
  width: 7.625rem;
  height: 7.625rem;
  background: url(../img/main-block/decor/01.svg);
}

.main-block__text:not(:last-child) {
  margin-bottom: 2.0625rem;
}

.main-block__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.main-block__button {
  min-width: 10rem;
}

.main-block__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15.125rem;
          flex: 0 1 15.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block__image {
  overflow: hidden;
  border-radius: 23.75rem;
}

.main-block__image img {
  width: 100%;
}

.clients__title {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  letter-spacing: 0.0714285714em;
  text-transform: uppercase;
  text-align: center;
}

.clients__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 1.875rem;
}

.clients__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13.125rem;
          flex: 0 1 13.125rem;
  position: relative;
}

.clients__item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 7.1875rem;
  height: 5rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, #000000 8%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, #000000 8%, rgba(0, 0, 0, 0) 100%);
}

.clients__item:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 7.1875rem;
  height: 5rem;
  background: -webkit-gradient(linear, right top, left top, color-stop(8%, #000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(right, #000000 8%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(270deg, #000000 8%, rgba(0, 0, 0, 0) 100%);
}

.clients__item img {
  width: 100%;
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.services__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32rem 1fr;
  grid-template-columns: 32rem 1fr;
}

.services__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services__category:not(:last-child) {
  margin-bottom: 1.25rem;
}

.services__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.services__text {
  max-width: 31.25rem;
}

.services__text:not(:last-child) {
  margin-bottom: 2.0625rem;
}

.services__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 19.875rem;
          flex: 0 1 19.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.item-services {
  padding: 3.75rem 1.5625rem;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
}

.item-services__icon {
  width: 4.75rem;
  height: 4.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 136, 255, 0.1);
  border-radius: 1.875rem;
}

.item-services__icon:not(:last-child) {
  margin-bottom: 1rem;
}

.item-services__icon_2 {
  background: rgba(246, 202, 79, 0.1);
}

.item-services__icon_3 {
  background: rgba(255, 110, 53, 0.1);
}

.item-services__icon_4 {
  background: rgba(92, 201, 123, 0.1);
}

.item-services__title {
  font-size: 1.1875rem;
  line-height: 1.4210526316;
  color: #FFFFFF;
}

.item-services__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-services__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: #81818B;
}

.choose__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38rem;
          flex: 0 1 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose__image_1 {
  overflow: hidden;
  border-radius: 23.625rem 0 23.625rem 23.625rem;
  max-width: 26.5rem;
}

.choose__image_1 img {
  width: 100%;
}

.choose__image_2 {
  overflow: hidden;
  border-radius: 11.339875rem 11.339875rem 11.339875rem 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  max-width: 11.375rem;
}

.choose__image_2 img {
  width: 100%;
}

.choose__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38rem;
          flex: 0 1 38rem;
}

.choose__category:not(:last-child) {
  margin-bottom: 2.6875rem;
}

.choose__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.choose__text:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.choose__list li {
  position: relative;
  padding-left: 2.625rem;
  padding-top: 0.3125rem;
  min-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}

.choose__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2rem;
          flex: 0 0 2rem;
  width: 2rem;
  height: 2rem;
  background: url(../img/choose/list.svg);
}

.choose__list li:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 2rem;
}

.advantages__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46.875rem;
          flex: 0 1 46.875rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.advantages__item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
}

.advantages__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.advantages__image img {
  width: 100%;
}

.item-advantages__value:not(:last-child) {
  margin-bottom: 2rem;
}

.testimonials__items {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
}

.header-testimonials__category:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.header-testimonials__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.header-testimonials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.header-testimonials__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46.25rem;
          flex: 0 1 46.25rem;
}

.header-testimonials__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.item-testimonials {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
}

.item-testimonials__user:not(:last-child) {
  margin-bottom: 2.625rem;
}

.item-testimonials__title {
  font-size: 2rem;
  line-height: 1.40625;
  color: #fff;
}

.item-testimonials__title:not(:last-child) {
  margin-bottom: 2.125rem;
}

.item-testimonials__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}

.item-testimonials__text:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.user-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.user-testimonial__avatar {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.25rem;
          flex: 0 0 4.25rem;
  height: 4.25rem;
  width: 4.25rem;
  overflow: hidden;
}

.user-testimonial__avatar_1 {
  border-radius: 0 4.25rem 4.25rem 4.25rem;
}

.user-testimonial__avatar_2 {
  border-radius: 4.25rem 0 4.25rem 4.25rem;
}

.user-testimonial__avatar_3 {
  border-radius: 4.25rem 4.25rem 0 4.25rem;
}

.user-testimonial__avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.user-testimonial__title {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}

.user-testimonial__company {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.375;
}

.blog__header:not(:last-child) {
  margin-bottom: 4rem;
}

.blog__items {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}

.blog__item {
  max-width: 31.25rem;
}

.header-blog__category:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header-blog__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.header-blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-blog__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46.25rem;
          flex: 0 1 46.25rem;
}

.header-blog__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  min-width: 10rem;
}

.item-blog {
  border-radius: 1.5rem;
  background: rgba(129, 129, 139, 0.1);
  overflow: hidden;
}

.item-blog__header {
  position: relative;
}

.item-blog__header:not(:last-child) {
  margin-bottom: 2.25rem;
}

.item-blog__image-ibg {
  display: block;
  padding-bottom: 49.2385786802%;
  overflow: hidden;
}

.item-blog__image-ibg img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.item-blog__category {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5625rem 0.625rem;
  color: #fff;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  background: rgba(129, 129, 139, 0.5);
  border-radius: 0 0.625rem 0 0;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-blog__date {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(129, 129, 139, 0.9);
}

.item-blog__date:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-blog__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-blog__link-title {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.4210526316;
  color: #fff;
}

.item-blog__text:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.item-blog__link {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  color: #3D96F4;
}

.ready__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.875rem;
  border-radius: 1.875rem;
  background: rgba(129, 129, 139, 0.1);
}

.ready__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.125rem;
          flex: 0 1 33.125rem;
  text-align: center;
}

.ready__title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.40625;
  color: #fff;
}

.ready__title:not(:last-child) {
  margin-bottom: 1rem;
}

.ready__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media (min-width: 29.99875em) {
  .testimonials__items {
    grid-template-columns: repeat(auto-fit, minmax(23.75rem, 1fr));
  }
}

@media (min-width: 56.25em) {
  .main-block__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-block__text {
    max-width: 31.25rem;
  }
}

@media (min-width: 78.125em) {
  .services__column:first-child {
    padding-top: 3rem;
  }
}

@media (min-width: 81.875em) {
  .title {
    font-size: 3.25rem;
  }

  .header__container {
    min-height: 7.25rem;
  }

  .header__container {
    gap: 2rem;
  }

  .menu__list {
    -webkit-column-gap: 2.25rem;
       -moz-column-gap: 2.25rem;
            column-gap: 2.25rem;
  }

  .footer__top {
    padding-bottom: 10rem;
  }

  .footer__bottom {
    padding-top: 2.875rem;
  }

  .footer__bottom {
    padding-bottom: 2.875rem;
  }

  .main-block {
    padding-top: 10rem;
  }

  .main-block {
    padding-bottom: 12.5rem;
  }

  .main-block__container {
    row-gap: 5rem;
  }

  .main-block__title:not(:last-child) {
    margin-bottom: 1.75rem;
  }

  .main-block__images {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .main-block__column {
    row-gap: 2rem;
  }

  .clients {
    padding-bottom: 10rem;
  }

  .clients__items {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .services {
    padding-bottom: 12.5rem;
  }

  .services__container {
    -webkit-column-gap: 6.25rem;
       -moz-column-gap: 6.25rem;
            column-gap: 6.25rem;
  }

  .choose {
    padding-bottom: 12.5rem;
  }

  .choose__container {
    gap: 3.75rem;
  }

  .advantages {
    padding-bottom: 12.5rem;
  }

  .advantages__item {
    padding: 2.5rem;
  }

  .testimonials {
    padding-bottom: 12.5rem;
  }

  .testimonials__header:not(:last-child) {
    margin-bottom: 4rem;
  }

  .item-testimonials {
    padding-top: 4rem;
  }

  .item-testimonials {
    padding-bottom: 4rem;
  }

  .item-testimonials {
    padding-left: 2.5rem;
  }

  .item-testimonials {
    padding-right: 2.5rem;
  }

  .blog {
    padding-bottom: 12.5rem;
  }

  .item-blog__content {
    padding-left: 1.625rem;
  }

  .item-blog__content {
    padding-right: 1.625rem;
  }

  .item-blog__content {
    padding-bottom: 2.5rem;
  }

  .ready {
    padding-bottom: 15.625rem;
  }

  .ready__container {
    padding-top: 3.125rem;
  }

  .ready__container {
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.625rem;
  }

  .header__container {
    min-height: 5rem;
  }

  .header__container {
    gap: 0.5rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .footer__top {
    padding-bottom: 2.5rem;
  }

  .footer__bottom {
    padding-top: 0.9375rem;
  }

  .footer__bottom {
    padding-bottom: 0.9375rem;
  }

  .main-block {
    padding-top: 7.5rem;
  }

  .main-block {
    padding-bottom: 3.75rem;
  }

  .main-block__container {
    row-gap: 2.5rem;
  }

  .main-block__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main-block__images {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .main-block__column {
    row-gap: 0.9375rem;
  }

  .clients {
    padding-bottom: 3.75rem;
  }

  .clients__items {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .services {
    padding-bottom: 3.75rem;
  }

  .services__container {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .choose {
    padding-bottom: 3.75rem;
  }

  .choose__container {
    gap: 2.5rem;
  }

  .advantages {
    padding-bottom: 3.75rem;
  }

  .advantages__item {
    padding: 0.9375rem;
  }

  .testimonials {
    padding-bottom: 3.75rem;
  }

  .testimonials__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-testimonials {
    padding-top: 0.9375rem;
  }

  .item-testimonials {
    padding-bottom: 0.9375rem;
  }

  .item-testimonials {
    padding-left: 0.9375rem;
  }

  .item-testimonials {
    padding-right: 0.9375rem;
  }

  .blog {
    padding-bottom: 3.75rem;
  }

  .item-blog__content {
    padding-left: 0.9375rem;
  }

  .item-blog__content {
    padding-right: 0.9375rem;
  }

  .item-blog__content {
    padding-bottom: 0.9375rem;
  }

  .ready {
    padding-bottom: 5rem;
  }

  .ready__container {
    padding-top: 1.25rem;
  }

  .ready__container {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 81.25em) {
  .footer__top {
    -ms-grid-columns: 25rem 1fr 1fr;
    grid-template-columns: 25rem 1fr 1fr;
  }
}

@media (max-width: 78.125em) {
  .services__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 78.125em) and (max-width: 20em) {
  .services__container {
    row-gap: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .footer__top {
    -ms-grid-columns: 25rem;
    grid-template-columns: 25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-services {
    padding: 1.25rem;
  }

  .choose__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .choose__images {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .choose__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .ready__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ready__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .ready__actions {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 56.25em) {
  .main-block__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    padding: 0.9375rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #09601f;
    padding-top: 7.5rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: -100%;
    background-color: #07a707;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  ._header-scroll .menu__body::before {
    min-height: 4.375rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link {
    font-size: 1.625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .clients__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .advantages__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 31.25rem;
  }

  .header-testimonials__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-testimonials__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header-blog__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-blog__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 6.25rem;
  }

  .menu__body::before {
    min-height: 5rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 42.5em) {
  .services__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 34.375em) {
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    width: 1.9375rem;
    overflow: hidden;
  }

  .main-block__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__items {
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  }

  .blog__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .ready__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .ready__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
  }
}

@media (max-width: 26.25em) {
  .cart-header {
    padding-right: 0.375rem;
  }

  .cart-header__text {
    display: none;
  }

  .cart-header__quantity {
    width: 2.0625rem;
    height: 2.8125rem;
    padding-top: 0.1875rem;
    border-radius: 0;
    background: url("../img/cart.svg") center/auto 100% no-repeat;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (font-size: clamp( 1.625rem , 1.0997474747rem  +  2.6262626263vw , 3.25rem )) {
    .title {
      font-size: clamp( 1.625rem , 1.0997474747rem  +  2.6262626263vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.0997474747rem  +  2.6262626263vw , 3.25rem )) {
    .title {
      font-size: calc(1.625rem + 1.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (min-height: clamp( 5rem , 4.2727272727rem  +  3.6363636364vw , 7.25rem )) {
    .header__container {
      min-height: clamp( 5rem , 4.2727272727rem  +  3.6363636364vw , 7.25rem );
    }
}

@supports not (min-height: clamp( 5rem , 4.2727272727rem  +  3.6363636364vw , 7.25rem )) {
    .header__container {
      min-height: calc(5rem + 2.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.5rem , 0.0151515152rem  +  2.4242424242vw , 2rem )) {
    .header__container {
      gap: clamp( 0.5rem , 0.0151515152rem  +  2.4242424242vw , 2rem );
    }
}

@supports not (gap: clamp( 0.5rem , 0.0151515152rem  +  2.4242424242vw , 2rem )) {
    .header__container {
      gap: calc(0.5rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.5132575758rem  +  2.1212121212vw , 2.25rem )) or (column-gap: clamp( 0.9375rem , 0.5132575758rem  +  2.1212121212vw , 2.25rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.5132575758rem  +  2.1212121212vw , 2.25rem );
         -moz-column-gap: clamp( 0.9375rem , 0.5132575758rem  +  2.1212121212vw , 2.25rem );
              column-gap: clamp( 0.9375rem , 0.5132575758rem  +  2.1212121212vw , 2.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.5132575758rem  +  2.1212121212vw , 2.25rem )) or (column-gap: clamp( 0.9375rem , 0.5132575758rem  +  2.1212121212vw , 2.25rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 61.875);
              column-gap: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.0757575758rem  +  12.1212121212vw , 10rem )) {
    .footer__top {
      padding-bottom: clamp( 2.5rem , 0.0757575758rem  +  12.1212121212vw , 10rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.0757575758rem  +  12.1212121212vw , 10rem )) {
    .footer__top {
      padding-bottom: calc(2.5rem + 7.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.3112373737rem  +  3.1313131313vw , 2.875rem )) {
    .footer__bottom {
      padding-top: clamp( 0.9375rem , 0.3112373737rem  +  3.1313131313vw , 2.875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.3112373737rem  +  3.1313131313vw , 2.875rem )) {
    .footer__bottom {
      padding-top: calc(0.9375rem + 1.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3112373737rem  +  3.1313131313vw , 2.875rem )) {
    .footer__bottom {
      padding-bottom: clamp( 0.9375rem , 0.3112373737rem  +  3.1313131313vw , 2.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3112373737rem  +  3.1313131313vw , 2.875rem )) {
    .footer__bottom {
      padding-bottom: calc(0.9375rem + 1.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 7.5rem , 6.6919191919rem  +  4.0404040404vw , 10rem )) {
    .main-block {
      padding-top: clamp( 7.5rem , 6.6919191919rem  +  4.0404040404vw , 10rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 6.6919191919rem  +  4.0404040404vw , 10rem )) {
    .main-block {
      padding-top: calc(7.5rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .main-block {
      padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .main-block {
      padding-bottom: calc(3.75rem + 8.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (row-gap: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .main-block__container {
      row-gap: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem );
    }
}

@supports not (row-gap: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .main-block__container {
      row-gap: calc(2.5rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0883838384rem  +  0.8080808081vw , 1.75rem )) {
    .main-block__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0883838384rem  +  0.8080808081vw , 1.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0883838384rem  +  0.8080808081vw , 1.75rem )) {
    .main-block__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.75rem ))) {
    .main-block__images {
      -webkit-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.75rem );
         -moz-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.75rem );
              column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.75rem ))) {
    .main-block__images {
      -webkit-column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 61.875);
              column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.5940656566rem  +  1.7171717172vw , 2rem )) {
    .main-block__column {
      row-gap: clamp( 0.9375rem , 0.5940656566rem  +  1.7171717172vw , 2rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.5940656566rem  +  1.7171717172vw , 2rem )) {
    .main-block__column {
      row-gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 1.7297979798rem  +  10.101010101vw , 10rem )) {
    .clients {
      padding-bottom: clamp( 3.75rem , 1.7297979798rem  +  10.101010101vw , 10rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 1.7297979798rem  +  10.101010101vw , 10rem )) {
    .clients {
      padding-bottom: calc(3.75rem + 6.25 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem ))) {
    .clients__items {
      -webkit-column-gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
         -moz-column-gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
              column-gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.634469697rem  +  1.5151515152vw , 1.875rem ))) {
    .clients__items {
      -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
              column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .services {
      padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .services {
      padding-bottom: calc(3.75rem + 8.75 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.7796717172rem  +  8.5858585859vw , 6.25rem )) or (column-gap: clamp( 0.9375rem , -0.7796717172rem  +  8.5858585859vw , 6.25rem ))) {
    .services__container {
      -webkit-column-gap: clamp( 0.9375rem , -0.7796717172rem  +  8.5858585859vw , 6.25rem );
         -moz-column-gap: clamp( 0.9375rem , -0.7796717172rem  +  8.5858585859vw , 6.25rem );
              column-gap: clamp( 0.9375rem , -0.7796717172rem  +  8.5858585859vw , 6.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.7796717172rem  +  8.5858585859vw , 6.25rem )) or (column-gap: clamp( 0.9375rem , -0.7796717172rem  +  8.5858585859vw , 6.25rem ))) {
    .services__container {
      -webkit-column-gap: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 61.875);
              column-gap: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .choose {
      padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .choose {
      padding-bottom: calc(3.75rem + 8.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem )) {
    .choose__container {
      gap: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem );
    }
}

@supports not (gap: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem )) {
    .choose__container {
      gap: calc(2.5rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .advantages {
      padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .advantages {
      padding-bottom: calc(3.75rem + 8.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem )) {
    .advantages__item {
      padding: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem )) {
    .advantages__item {
      padding: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .testimonials {
      padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .testimonials {
      padding-bottom: calc(3.75rem + 8.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem )) {
    .testimonials__header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 4rem )) {
    .testimonials__header:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.9375rem , -0.0523989899rem  +  4.9494949495vw , 4rem )) {
    .item-testimonials {
      padding-top: clamp( 0.9375rem , -0.0523989899rem  +  4.9494949495vw , 4rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -0.0523989899rem  +  4.9494949495vw , 4rem )) {
    .item-testimonials {
      padding-top: calc(0.9375rem + 3.0625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.0523989899rem  +  4.9494949495vw , 4rem )) {
    .item-testimonials {
      padding-bottom: clamp( 0.9375rem , -0.0523989899rem  +  4.9494949495vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.0523989899rem  +  4.9494949495vw , 4rem )) {
    .item-testimonials {
      padding-bottom: calc(0.9375rem + 3.0625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem )) {
    .item-testimonials {
      padding-left: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem )) {
    .item-testimonials {
      padding-left: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem )) {
    .item-testimonials {
      padding-right: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem )) {
    .item-testimonials {
      padding-right: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .blog {
      padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.9217171717rem  +  14.1414141414vw , 12.5rem )) {
    .blog {
      padding-bottom: calc(3.75rem + 8.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.625rem )) {
    .item-blog__content {
      padding-left: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.625rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.625rem )) {
    .item-blog__content {
      padding-left: calc(0.9375rem + 0.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.625rem )) {
    .item-blog__content {
      padding-right: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.625rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.625rem )) {
    .item-blog__content {
      padding-right: calc(0.9375rem + 0.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem )) {
    .item-blog__content {
      padding-bottom: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.4324494949rem  +  2.5252525253vw , 2.5rem )) {
    .item-blog__content {
      padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 5rem , 1.5656565657rem  +  17.1717171717vw , 15.625rem )) {
    .ready {
      padding-bottom: clamp( 5rem , 1.5656565657rem  +  17.1717171717vw , 15.625rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 1.5656565657rem  +  17.1717171717vw , 15.625rem )) {
    .ready {
      padding-bottom: calc(5rem + 10.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .ready__container {
      padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .ready__container {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .ready__container {
      padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .ready__container {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 81.875em) {
  .menu__body {
    padding-top: 10rem;
  }

  .menu__body::before {
    min-height: 7.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 81.875em) {
@supports (padding-top: clamp( 6.25rem , 5.0378787879rem  +  6.0606060606vw , 10rem )) {
    .menu__body {
      padding-top: clamp( 6.25rem , 5.0378787879rem  +  6.0606060606vw , 10rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5.0378787879rem  +  6.0606060606vw , 10rem )) {
    .menu__body {
      padding-top: calc(6.25rem + 3.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (min-height: clamp( 5rem , 4.2727272727rem  +  3.6363636364vw , 7.25rem )) {
    .menu__body::before {
      min-height: clamp( 5rem , 4.2727272727rem  +  3.6363636364vw , 7.25rem );
    }
}

@supports not (min-height: clamp( 5rem , 4.2727272727rem  +  3.6363636364vw , 7.25rem )) {
    .menu__body::before {
      min-height: calc(5rem + 2.25 * (100vw - 20rem) / 61.875);
    }
}
}

@media (max-width: 78.125em) and (min-width: 81.875em) {
  .services__container {
    row-gap: 3.75rem;
  }
}

@media (max-width: 78.125em) and (min-width: 20em) and (max-width: 81.875em) {
@supports (row-gap: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem )) {
    .services__container {
      row-gap: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem );
    }
}

@supports not (row-gap: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem )) {
    .services__container {
      row-gap: calc(2.5rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #124f8f;
  }

  .link:hover {
    color: #43b664;
  }

  .category:hover {
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
  }

  .cart-header:hover {
    color: #43b664;
  }

  .social-footer__item img:hover {
    background-color: rgba(27, 43, 117, 0.6431372549);
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }

  .item-blog__category:hover {
    color: #3D96F4;
  }

  .item-blog__link-title:hover {
    text-decoration: underline;
  }

  .item-blog__link:hover {
    text-decoration: underline;
  }
}
